/*:::::::::::::::::::::::::::::::::::::::
             CSS VARIABLE
:::::::::::::::::::::::::::::::::::::::*/
:root{
    --primary-text-color:#fff;
    --primary-bg-color:#033d77;

    --secondary-text-color:#0876e4;
    --secondary-bg-color:#f1c40f;

    --common-text-color:#fff;
    --common-bg-color:#033d77;

    --default-txt-color :#264a62;
     --black-text:#000;
    --white-border:#fff;
    --black-border:#000;
    --primary-border:#05c305;

    --white-bg:#fff;
    
}
/*:::::::::::::::::::::::::::::::::::::::
              COMMON CSS
:::::::::::::::::::::::::::::::::::::::*/
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/*:::::::::::::::::::::::::::::::::::::::
              HEADER CSS
:::::::::::::::::::::::::::::::::::::::*/


/*:::::::::::::::::::::::::::::::::::::::
              TOP HEADER CSS
:::::::::::::::::::::::::::::::::::::::*/
.header .header_top{
    background-color: var(--secondary-bg-color);
    
}
.header .header_top .timestamp .datetime{
    color: var(--primary-txt-color);
}
.header .login_button a,
.header .contact_info a{
    color: var(--default-txt-color);
    border: 1px solid var(--white-border);
    padding: 0.3rem 0.8rem;
    border-radius: 1.1rem;
    transition: 0.4s;
    font-size: .9rem;
}
.header .login_button a:hover,
.header .contact_info a:hover{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
   
    

.header .header_middle .logo img{
    width: 80px;
    height: 80px;
}


.header .header_bottom{
    background-color: var(--secondary-bg-color);
}


.header .header_bottom .nav_item>ul>li>a{
    color: var(--default-txt-color);
    font-size: 1.3rem;
    transition: 0.4s;
    padding: .6rem .8rem;
}
.header .header_bottom .nav_item ul li a:hover{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.header .header_bottom.fixed {
    position: fixed;
    top: 0;
    width: 100%;
   
}
.header .header_bottom .nav_item .dropdwn{
    position: relative;
}
.header .header_bottom .nav_item .dropdwn .dropdwn_menu{
    position: absolute;
    top: 105%;
    width: 200px;
    background-color: var(--secondary-bg-color);
    left: 100%; 
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    
}
.header .header_bottom .nav_item .dropdwn .dropdwn_menu li a{
    padding: 10px 20px;
    width: 100%;
}

.header .header_bottom .nav_item .dropdwn:hover .dropdwn_menu{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.my_chat_box{
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}
.my_chat_box .chat_icon{
    width: 50px;
    height: 50px;
    background-color: #05c305;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.my_chat_box .messagr_box{
    width: 500px;
}